@page
@model ModernLearns.Web.Pages.Admin.AboutUs.IndexModel
@{
    ViewData["Title"] = "درباره ما";
}


<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">درباره ما</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
               درباره ما
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline" role="grid">
                        <div class="col-md-12" style="margin: 10px 0;">
                            @if (Model.AboutUs != null)
                            {
                                <a class="btn btn-info btn-flat" href="/Admin/AboutUs/Edit">ویرایش</a>
                                <hr />
                                @Html.Raw(Model.AboutUs.Text)
                            }
                            else
                            {
                                <a class="btn btn-flat btn-success" href="/Admin/AboutUs/Add">افزودن</a>
                                <hr />
                                <div class="alert alert-warning">
                                    هیچ متنی برای این بخش در نظر گرفته نشده از طریق لینک بالا اقدام به ثبت کنید
                                </div>
                            }
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
