@model Tuple<List<ShowCourseListItemViewModel>, int>
@using ModernLearns.Core.DTOs.Course
@using ModernLearns.DataLayer.Entities.Course
@{
    ViewData["Title"] = "ModernLearns.ir";
}

<!-- banner part start-->
<section class="banner_part">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-xl-6">
                <div class="banner_text">
                    <div class="banner_text_iner">
                        <h5>در هر سنی که هستی</h5>
                        <h1>دنیای خود را جای بهتری بسازید</h1>
                        <p>
                            هر کسی که یادگیری را متوقف کند پیر است، چه بیست سالش باشد چه هشتاد سال. هر کسی که به یادگیری ادامه دهد جوان می ماند.
                            هنری فورد
                        </p>
                        <a href="/Course/Index" class="btn_1">بازدید دوره ها </a>
                        @*<a href="#" class="btn_2">شروع کردن </a>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner part start-->
<!-- feature_part start-->
<section class="feature_part">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xl-3 align-self-center">
                <div class="single_feature_text ">
                    <h3 id="best_fea">بهترین امکانات</h3>
                    <p>با پرداخت هزینه دوره ها و شرکت در دوره امکان دریافت فیلم ها و ارتباط با اساتید را برای شما فعال میشود </p>
                    @*<a href="#" class="btn_1">بیشتر بخوانید</a>*@
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="single_feature">
                    <div class="single_feature_part">
                        <span class="single_feature_icon"><i class="ti-layers"></i></span>
                        <h4>اینده ی درخشان</h4>
                        <p>مجموعه ما در تلاش است که شما را وارد بازار کسب و کار کند</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="single_feature">
                    <div class="single_feature_part">
                        <span class="single_feature_icon"><i class="ti-new-window"></i></span>
                        <h4>مربی های ماهر</h4>
                        <p>در این مجموعه سعی شده با اساتید مجرب و ماهر همکاری داشته باشیم</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="single_feature">
                    <div class="single_feature_part single_feature_part_2">
                        <span class="single_service_icon style_icon"><i class="ti-light-bulb"></i></span>
                        <h4>فرصت های شغلی</h4>
                        <p>با گذراندن صفر تا صد دوره ها شما اماده دریافت پروژه میشوید</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- upcoming_event part start-->
<!-- learning part start-->
<section class="learning_part">
    <div class="container">
        <div class="row align-items-sm-center align-items-lg-stretch">
            <div class="col-md-7 col-lg-7">
                <div class="learning_img">
                    <img src="img/learning_img.png" alt="">
                </div>
            </div>
            <div class="col-md-5 col-lg-5">
                <div class="learning_member_text">
                    <h5>درباره ی ما</h5>
                    <h2>با عشق و اشتیاق یاد بگیرید</h2>
                    <p>پنجمین گفتار در مورد تقسیم تقسیم قانون برای عمیق شدن در زن خود ، همه روز را در بر دارد و روزها و نشانهای بزرگتر از علفها به وفور دیده می شوند و همچنین روزها بیشتر از سالها تحت حرکت قرار دارند..</p>
                    <ul>
                        <li><span></span>به او چراغ می دهد که من به بهشت دوم می دهم که دریاها را می پوشند</li>
                        <li><span></span>به او چراغ می دهد که من به بهشت دوم می دهم که دریاها را می پوشند</li>
                    </ul>
                    <a href="/AboutUs" class="btn_1">بیشتر بخوانید</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- learning part end-->
<!-- member_counter counter start -->
<section class="member_counter">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single_member_counter">
                    <span class="counter">1024</span>
                    <h4>تمام مدرسان</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_member_counter">
                    <span class="counter">960</span>
                    <h4> تمام دانش اموزان</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_member_counter">
                    <span class="counter">1020</span>
                    <h4>دانش اموزان انلاین</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_member_counter">
                    <span class="counter">820</span>
                    <h4>دانش اموزان افلاین</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- member_counter counter end -->
<!--::review_part start::-->
<section class="special_cource padding_top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5">
                <div class="section_tittle text-center">
                    <p>دوره ها</p>
                    <h2>آخرین دوره ها</h2>
                </div>
            </div>
        </div>
        <div class="row" dir="rtl">
            @foreach (var item in Model.Item1)
            {
                <partial name="_BoxCourse" model="@item" />
            }
        </div>
    </div>
</section>
<!--::blog_part end::-->
<!-- learning part start-->
<section class="advance_feature learning_part">
    <div class="container">
        <div class="row align-items-sm-center align-items-xl-stretch">
            <div class="col-md-6 col-lg-6">
                <div class="learning_member_text">
                    <h5>
                        سیستم پیشرفته اموزشی ما</h2>
                        <p>پنجم گفتن در مورد تقسیم تقسیم برای عمیق بودن برای زن خود ، همه اواسط روزهای درخشان و روزانه و علائم علفهای بزرگ حیوانات به مراتب بیشتر از روزهای روز روی زمین استفاده می شود ، سالها در زیر حرکت آورده شده خود را ستاره می کند.</p>
                        <div class="row">
                            <div class="col-sm-6 col-md-12 col-lg-6">
                                <div class="learning_member_text_iner">
                                    <span class="ti-pencil-alt"></span>
                                    <h4 class="ever">هرجایی یاد بگیر</h4>
                                    <p>زمین در آنجا با چهره زمین مشاهده می کند که او چنین ستاره ای را از بین برده است</p>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-12 col-lg-6">
                                <div class="learning_member_text_iner">
                                    <span class="ti-stamp"></span>
                                    <h4 class="ever">معلم های ماهر</h4>
                                    <p>زمین در آنجا با چهره زمین مشاهده می کند که او چنین ستاره ای را از بین برده است</p>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="learning_img">
                    <img src="img/advance_feature_img.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- learning part end-->
<!--::review_part start::-->
<section class="testimonial_part">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-xl-5">
                <div class="section_tittle text-center">
                    <p>توصیفات</p>
                    <h2>دانش اموزان خوشحال و راضی</h2>
                </div>
            </div>
        </div>
        <div class="row margin-buttom">
            <div class="col-lg-12">
                <div class="textimonial_iner owl-carousel">
                    @{
                        List<CourseComment> comments = ViewBag.Comments as List<CourseComment>;
                    }
                    @foreach (var comment in comments)
                    {
                        <partial name="Course/_BoxComment" model="@comment" />
                    }
                </div>
            </div>

        </div>
    </div>
</section>
<!--::blog_part end::-->