@model ModernLearns.Core.DTOs.ChangePasswordViewModel
@{
    ViewData["Title"] = "تغییر کلمه عبور";
}
@section Topic_Layer{
    <!-- BreadCrumb start -->
    <div class="container breadcrumb">
        <div class="row align-items-center">
            <div class="col-md-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb_iner">
                        <li class="breadcrumb_iner_item"><a href="/Home">خانه</a></li> /
                        <li class="breadcrumb_iner_item"><a href="#">@ViewData["Title"]</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- BreadCrumb End -->
}

<!-- account start -->
<div class="container section_padding">
    <div class="row accouont">
        <div class="col-md-3 pull-right">
            <partial name="_SideBar" />
        </div>
        <div class="col-md-9 pull-left">
            <div class="left-side">
                <header><h2> ویرایش رمز عبور </h2></header>
                <div class="left-ineer">
                    <form class="form-layer-style" asp-action="ChangePassword" method="post">
                        @if (ViewBag.IsSuccess != null)
                        {
                            <div class="alert alert-success">
                                اطلاعات کاربری شما با موفقیت ویرایش شد
                            </div>
                        }
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <!-- input -->
                            <div class="input-layer">
                                <label><i class="zmdi zmdi-lock"></i>  کلمه عبور فعلی </label>
                                <input type="password" asp-for="OldPassword" aria-describedby="oldPassword">
                                <span asp-validation-for="OldPassword" class="text-danger"></span>
                            </div>
                            <!--/ input -->
                        </div>

                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <!-- input -->
                            <div class="input-layer">
                                <label><i class="zmdi zmdi-lock-outline"></i>کلمه عبور جدید</label>
                                <input type="password" asp-for="Password" aria-describedby="password">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <!--/ input -->
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <!-- input -->
                            <div class="input-layer">
                                <label><i class="zmdi zmdi-lock-outline"></i>تکرار کلمه عبور</label>
                                <input type="password" asp-for="RePassword" aria-describedby="rePassword">
                                <span asp-validation-for="RePassword" class="text-danger"></span>
                            </div>
                            <!--/ input -->
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 pull-left">
                            <button class="submit-button btn_4 margin-top"> <span> ثبت نهایی </span> </button>
                        </div>
                    </div>

                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- account end -->