<footer class="footer-area">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-sm-6 col-md-4 col-xl-3">
                <div class="single-footer-widget footer_1">
                    <a href="index.html"> <img src="img/logo.png" alt=""> </a>
                    <p>اما وقتی او را شلیک کرد واقعی است. مجلسی که یک ویزیت حذف وی دارد شش نفر است که خود را پسران با اسکات نفیس می فرستند </p>
                    <p> </p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-xl-4">
                <div class="single-footer-widget footer_2">
                    <h4>اخرین اخبار</h4>
                    <p>
                    </p>با ما آپدیت باشید و بروز ترین اطلاعات رو از ما دریافت کنید
                    <form action="#">
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder='ادرس ایمیل خود را وارد کنید'
                                       onfocus="this.placeholder = ''"
                                       onblur="this.placeholder = 'ادرس ایمیل خود را وارد کنید'">
                                <div class="input-group-append">
                                    <button class="btn btn_1" type="button"><i class="ti-angle-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="social_icon">
                        <a href="#"> <i class="ti-facebook"></i> </a>
                        <a href="#"> <i class="ti-twitter-alt"></i> </a>
                        <a href="#"> <i class="ti-instagram"></i> </a>
                        <a href="#"> <i class="ti-skype"></i> </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-md-4">
                <div class="single-footer-widget footer_2">
                    <h4>تماس با ما</h4>
                    <div class="contact_info">
                        <p><span> ادرس :</span> یه جایی که نمیشه به هر کسی گفت </p>
                        <p><span> شماره همراه :</span> 096454565465</p>
                        <p><span> ایمیل : </span>Me@barnemenevis.ir</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="copyright_part_text text-center">
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="footer-text m-0">
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> همه ی حقوق مادی و معنوی این سایت متعلق به برنامه نویس میباشد
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>