@model ModernLearns.DataLayer.Entities.User.User

<div class="container section_padding rtl-text">
    <h2>@Model.UserName عزیز !</h2>
    <p>
        جهت بازیابی حساب کاربری خود روی لینک زیر کلیک کنید
    </p>
    <p>
        <a href="https://localhost:44391/Account/ResetPassword/@Model.ActiveCode">بازیابی کلمه عبور</a>
    </p>
</div>
