@model ModernLearns.Core.DTOs.ForgotPasswordViewModel
@{
    ViewData["Title"] = "بازیابی کلمه عبور";
}

@section Topic_Layer{
    <!-- BreadCrumb start -->
    <div class="container breadcrumb">
        <div class="row align-items-center">
            <div class="col-md-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb_iner">
                        <li class="breadcrumb_iner_item"><a href="/Home">خانه</a></li> /
                        <li class="breadcrumb_iner_item"><a href="#">@ViewData["Title"]</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- BreadCrumb End -->
}

<!-- Singup start -->
<section class="signup padding_top">
    <div class="container register">
        <div class="signup-content">
            <div class="signup-form">
                <h2 class="form-title">بازیابی کلمه عبور</h2>
                @if (ViewBag.IsSuccess == true)
                {
                    <div class="alert alert-success rtl-text">
                        <p class="help-block">ایمیل بازیابی کلمه عبور برای شما ارسال شد</p>
                    </div>
                }
                else if(ViewBag.IsSuccess==false)
                {
                    <div class="alert alert-danger rtl-text">
                        <p class="help-block">عملیات با شکست مواجه شد!</p>
                        <p class="help-block warning">لطفا بعدا دوباره امتحان کنید.</p>
                    </div>
                }
                <form asp-action="ForgotPassword" method="POST" class="register-form" id="register-form">
                    <div class="form-group">
                        <label for="email"><i class="ti-email"></i></label>
                        <input asp-for="Email" type="email" placeholder="ایمیل شما">
                    </div>
                    <div class="form-group form-button">
                        <input type="submit" id="signup" class="form-submit" value="بازیابی کلمه عبور">
                    </div>
                    <div asp-validation-summary="All" class="text-danger rtl-text"></div>
                </form>
            </div>
            <div class="signup-image">
                <figure><img src="/img/signup-image.jpg" alt="sing up image"></figure>
                <a href="/Login" class="signup-image-link">ورود به سایت</a>
            </div>
        </div>
    </div>
</section>
