@model ModernLearns.Core.DTOs.ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
}

@section Topic_Layer{
    <!-- BreadCrumb start -->
    <div class="container breadcrumb">
        <div class="row align-items-center">
            <div class="col-md-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb_iner">
                        <li class="breadcrumb_iner_item"><a href="/Home">خانه</a></li> /
                        <li class="breadcrumb_iner_item"><a href="#">@ViewData["Title"]</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- BreadCrumb End -->
}

<!-- Singup start -->
<section class="signup padding_top">
    <div class="container register">
        <div class="signup-content">
            <div class="signup-form">
                <h2 class="form-title">بازیابی کلمه عبور</h2>
                <form asp-action="ResetPassword" method="POST" class="register-form" id="register-form">
                    <div class="form-group">
                        <label for="pass"><i class="ti-lock"></i></label>
                        <input asp-for="Password" type="password" placeholder="رمزعبور">
                    </div>
                    <div class="form-group">
                        <label for="re-pass"><i class="ti-lock"></i></label>
                        <input asp-for="RePassword" type="password" placeholder="تکرار رمز عبور">
                    </div>
                    <div class="form-group form-button">
                        <input type="submit" id="signup" class="form-submit" value="ثبت نام">
                    </div>
                    <div asp-validation-summary="All" class="text-danger rtl-text"></div>
                </form>
            </div>
            <div class="signup-image">
                <figure><img src="/img/signup-image.jpg" alt="sing up image"></figure>
                <a href="/Login" class="signup-image-link">ورود به سایت</a>
            </div>
        </div>
    </div>
</section>

